# Çevre Değişkenleri ve Sırlar
.env

# Sanal Ortam
.venv/
venv/
env/

# Veritabanı ve Kara Kutu
*.db
*.sqlite3
*.log

# Python Ön Bellek
__pycache__/
*.pyc

# Dinamik Üretilen Çıktılar
rapor_onizleme.html
remediation_fix.tf
*.pdf
